<div class="row">
  <div class="col-md-8">
    <% @comments.each do |comment| %>
      <div class="media">
        <div class="media-body">
          <%= image_tag(comment.user.avatar.tiny.url) if comment.user.avatar? %>

          <p> <%= comment.body %> </p>
  
        
     <small>
      <%= comment.user.name %> commented <%= time_ago_in_words(comment.created_at) %> ago
           <% if policy(comment).destroy? %>
        | <%= link_to "Delete", [@topic, @post, comment], method: :delete %>
      <% end %>
      
      </small>
      
        </div>
      </div>
    <% end %>
    
  </div>